
/*//////////////////////////////////////////////////////////////////
[ Table ]*/
table {
  width: 100%;
  background-color: #fff;
}

th, td {
  font-weight: unset;
  padding-right: 10px;
}

.column100 {
  width: 130px;
  padding-left: 25px;
}

.column100.column1 {
  width: 265px;
  padding-left: 42px;
}

.row100.head th {
  padding-top: 24px;
  padding-bottom: 20px;
}

.row100 td {
  padding-top: 18px;
  padding-bottom: 14px;
}

/*==================================================================
[ Ver3 ]*/
.table100.ver3 tbody tr {
  border-bottom: 1px solid #e5e5e5;
}

.table100.ver3 td {
  font-family: Fira-Sans;
  font-size: 16px;
  color: black;
  line-height: 1.4;
}

.table100.ver3 th {
  font-family:Fira-Sans;
  font-size: 20px;
  color: #fff;
  line-height: 1.4;
  text-transform: uppercase;

  background-color: #1E4793;
}

.table100.ver3 .row100:hover td {
  background-color: #ffb2b2;
}

.table100.ver3 .hov-column-ver3 {
  background-color: #ffb2b2;
}

.table100.ver3 .hov-column-head-ver3 {
  background-color: #1E4793 !important;
}

.table100.ver3 .row100 td:hover {
  background-color: red;
  color: #fff;
}
