body {
  margin: 0;
  padding: 0;
}

.TopNavBar {
  margin: 0;
  padding: 0;
  vertical-align: middle;
  width: 50%;
  height: 100%;
}

.HeaderBlock {
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100%;
  background-color: #1E4793;
}

.TopNavBar ul {
  position: absolute;
}
ul.TopNavBar {
  padding-left: 25%;
}

.TopNavBar a {
  width display: inline-block;
  margin: 0;
  padding: 0;
  /*font-size: 160%;*/
  color: white;
  font-family: "Fira Sans ", sans-serif;
  font-weight: bold;
  vertical-align: middle;
}

.logoBlock {
  margin: 0;
  padding: 0;
  display: block;
}

#logoFlnp {
  display: inline-block;
  vertical-align: middle;
  height: 10%;
  width: 10%;
}

#logoRegata {
  display: inline-block;
  vertical-align: middle;
  height: 15%;
  width: 15%;
  margin-left: 30%;
}

#logoJinr {
  display: inline-block;
  vertical-align: middle;
  height: 10%;
  width: 10%;
  margin-left: 30%;
}

.TopNavBar a:hover {
  color: #FF4136;
  text-decoration: underline;
}

.naaList, .equipmentList, .staffList, .projectsList {
  position: absolute;
}

ul {
  list-style: none;
  display: inline-block;
}

a {
  text-decoration: none;
}

.hide {
  visibility: hidden;
}

.show {
  visibility: visible;
  text-align: left;
  margin: 0;
  padding: 0;
  line-height: 250%;
  /* margin-top: 20px; */
}

.show a {
  display: block;
  /*font-size: 120%;*/
  color: white;
  background-color: #1E4793;
  padding-left: 5px;
  padding-right: 5px;
}

.HeaderBlock>ul>li {
  display: inline-block;
  vertical-align: top;
  margin-left: 5%;
}

.MainBlock {
  padding: 0;
  margin: 0;
  width: 50%;
  height: 1000px;
  padding-left: 25%;
  padding-right: 25%;
  background-color: white;
  padding-top: 10%;
}

.demoWindow {
  width: 100%;
  height: 60%;
  padding-top: 10%;
  box-shadow: 0 0 20px #d3d3d3;
}

svg {
  width: 100%;
  height: 100%;
}
